<h1>Endpoints</h1>
<kendo-grid [data]="view" (edit)="editHandler($event)" (add)="addHandler($event)" (remove)="removeHandler($event)"
    [sort]="gridState.sort" [sortable]="true" (sortChange)="sortChange($event)" [filter]="gridState.filter"
    filterable="menu" (filterChange)="filterChange($event)" [pageable]="pageable" [pageSize]="gridState.take"
    [skip]="gridState.skip" (pageChange)="pageChange($event)" [resizable]="true">
    <ng-template kendoGridToolbarTemplate>
        <button kendoGridAddCommand>Add new</button>
    </ng-template>
    <kendo-grid-column field="name" title="Name" [width]="200">
        <ng-template kendoGridCellTemplate let-dataItem>
            <a [routerLink]="['/endpoints', dataItem.id]">
                <app-ellipsis-text [inputText]="dataItem.name"></app-ellipsis-text>
            </a>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="description" title="Description" [width]="200">
        <ng-template kendoGridCellTemplate let-dataItem>
            <app-ellipsis-text [inputText]="dataItem.description"></app-ellipsis-text>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="workflowName" title="Workflow" [width]="200">
        <ng-template kendoGridCellTemplate let-dataItem>
            <app-ellipsis-text [inputText]="dataItem.workflowName"></app-ellipsis-text>
        </ng-template></kendo-grid-column>
    <kendo-grid-column field="isEnabled" title="Enabled" [width]="150"></kendo-grid-column>
    <kendo-grid-column field="createdOn" title="Created On" filter="date" [width]="200">
        <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.createdOn | date: 'dd/MM/yyyy hh:mm:ss'}}
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="createdBy" title="Created By" [width]="200">
        <ng-template kendoGridCellTemplate let-dataItem>
            <app-ellipsis-text [inputText]="dataItem.createdBy"></app-ellipsis-text>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="modifiedOn" title="Modified On" filter="date" [width]="200">
        <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.modifiedOn | date: 'dd/MM/yyyy hh:mm:ss'}}
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="modifiedBy" title="Modified By" [width]="200">
        <ng-template kendoGridCellTemplate let-dataItem>
            <app-ellipsis-text [inputText]="dataItem.modifiedBy"></app-ellipsis-text>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-command-column title="Command" [width]="220">
        <ng-template kendoGridCellTemplate let-isNew="isNew">
            <button kendoGridEditCommand [primary]="true">Edit</button>
            <button kendoGridRemoveCommand>Remove</button>
        </ng-template>
    </kendo-grid-command-column>
</kendo-grid>
<kendo-dialog title="Please confirm" *ngIf="itemToRemove" (close)="confirmRemove(false)">
    <p style="margin: 30px; text-align: center;">
        Are you sure you want to delete the endpoint: {{ itemToRemove.name }}?
    </p>
    <kendo-dialog-actions>
        <button kendoButton (click)="confirmRemove(false)">No</button>
        <button kendoButton themeColor="primary" (click)="confirmRemove(true)" [primary]="true">
            Yes
        </button>
    </kendo-dialog-actions>
</kendo-dialog>