<div class="p-2 mt-2">
    <p>
        Quickly test the prediction endpoint from the UI by entering feature values on the left panel in JSON format and
        clicking
        on "Get sample prediction".
    </p>
    <div class="d-flex">
        <div class="mx-2">
            <mat-form-field appearance="fill" style="width: 300px;">
                <mat-label>Input features to test prediction</mat-label>
                <textarea matInput rows="10" cols="50" [(ngModel)]="input"></textarea>
            </mat-form-field>
        </div>
        <div class="mx-2">
            <mat-form-field appearance="fill" style="width: 300px;">
                <mat-label>Prediction</mat-label>
                <textarea matInput rows="10" cols="50" readonly="true" [(ngModel)]="predictedSample"></textarea>
            </mat-form-field>
        </div>
    </div>
    <div class="">
        <button mat-raised-button (click)="getPrediction()" color="primary">Get sample prediction</button>
    </div>
</div>