<div class="row row-cols-1 row-cols-md-4">
  <div class="col mb-4">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Datasets</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Collection of data that is stored within the system for use in machine learning tasks. It serves as a data
          source, making it easier to manage, access, and process the data within your machine learning workflows.</p>
        <mat-divider></mat-divider>
      </mat-card-content>
      <mat-card-actions style="justify-content: center;">
        <button mat-raised-button routerLink="/datasets">START WORKING</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col mb-4">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Workflows</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>It defines a pipeline that is composed by a sequence of operations to be applied to a dataset to build a
          machine learning model.</p>
        <mat-divider></mat-divider>
      </mat-card-content>
      <mat-card-actions style="justify-content: center;">
        <button mat-raised-button routerLink="/workflows">START WORKING</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col mb-4">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Models</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Built by the execution of a workflow, a ML model captures the underlying structure of the data and can
          be used to make predictions, classifications, or gain
          insights on new, unseen data.
        </p>
        <mat-divider></mat-divider>
      </mat-card-content>
      <mat-card-actions style="justify-content: center;">
        <button mat-raised-button routerLink="/models">START WORKING</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col mb-4">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Endpoints</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>It allows clients to consume a machine learning model that was previously run and published.</p>
        <mat-divider></mat-divider>
      </mat-card-content>
      <mat-card-actions style="justify-content: center;">
        <button mat-raised-button routerLink="/endpoints">START WORKING</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>