<div *ngIf="formGroup" style="width: 60%;" class="mt-5">
    <form class="example-form" [formGroup]="formGroup" (submit)="onSubmit()">
        <div class="d-flex flex-column ">
            <mat-form-field class="example-full-width">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" placeholder="Name" required>
                <mat-error *ngIf="formGroup.get('name')?.hasError('required')">
                    Name is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Description</mat-label>
                <!-- <input type="text" matInput formControlName="description" placeholder="Description"> -->
                <textarea matInput cdkTextareaAutosize formControlName="description" #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"></textarea>
            </mat-form-field>

            <section class="example-section">
                <mat-slide-toggle formControlName="isEnabled" class="example-margin" color="primary">
                    Enabled
                </mat-slide-toggle>
            </section>

            <label>Workflow</label>
            <p> <a [routerLink]="['/workflow-designer', endpoint?.workflowId]">{{endpoint?.workflowName}}</a></p>
            <label>Model</label>
            <p> <a [routerLink]="['/models',endpoint?.modelId]">{{endpoint?.workflowName}}</a></p>
            <label>Created On</label>
            <p>{{ formControlValue("createdOn") | date:'dd/MM/yyyy' }}</p>
            <label>Created By</label>
            <p>{{formControlValue("createdBy") }}</p>
            <label>Modified On</label>
            <p>{{formControlValue("modifiedOn")| date:'dd/MM/yyyy' }}</p>
            <label>Modified By</label>
            <p>{{formControlValue("modifiedBy") }}</p>

            <div class="p-2">
                <button mat-raised-button color="primary">Save</button>
            </div>
        </div>
    </form>
</div>