<div class="d-flex flex-row">
  <div class="ap-2" style="width: 15%;;"></div>
  <div class="ap-2" style="width: 70%;">

    <div style="display: flex; align-items: center;">

      <div style="font-size: 20px;font-weight: 600;">{{workflow?.name }}</div>
      <button mat-icon-button matTooltip="Edit name and description" style="color: rgb(1, 92, 218);"
        class="material-symbols-sharp" (click)="openDialog()">
        <mat-icon>mode_edit</mat-icon>
      </button>

      <div class="ap-2" *ngIf="workflowStatus$ | async">{{workflowStatus$ | async }}</div>

      <button mat-icon-button matTooltip="Copy" style="color: rgb(1, 92, 218);" class="material-symbols-sharp ms-auto"
        (click)="copyWorkflow()">
        <mat-icon>content_copy</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Paste" style="color: rgb(1, 92, 218);" class="material-symbols-sharp ams-auto"
        (click)="pasteWorkflow()">
        <mat-icon>content_paste</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Download" style="color: rgb(1, 92, 218);"
        class="material-symbols-sharp ams-auto" (click)="downloadFlow()">
        <mat-icon>download</mat-icon>
      </button>
      <!-- <div class="ms-auto"></div> -->


      <!-- <button mat-icon-button matTooltip="Undo" style="color: rgb(1, 92, 218);" class="material-symbols-sharp ams-auto">
        <mat-icon>undo</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Redo" style="color: rgb(1, 92, 218);" class="material-symbols-sharp ams-auto">
        <mat-icon>redo</mat-icon>
      </button>      -->
      <button mat-icon-button matTooltip="Run" style="color: rgb(1, 92, 218);" class="material-symbols-sharp ams-auto"
        (click)="runWorkflow()">
        <mat-icon>play_arrow</mat-icon>
      </button>
      <div matTooltip="Publish" class="example-disabled" style="color: rgb(1, 92, 218);"
        class="material-symbols-sharp ams-auto">
        <button mat-icon-button
          [disabled]="!(isModelGenerated$ | async) ||  ((isModelGenerated$ | async) && (isPublished$ | async))"
          (click)="publishWorkflow()">
          <mat-icon>publish</mat-icon>
        </button>
      </div>
    </div>


  </div>
  <div class="ap-2" style="width: 15%;;"></div>
</div>

<div class="d-flex flex-row" style="height: 100%">
  <div class="ap-2" style="width: 15%;;">

    <mat-list style="padding-top: 0px;">
      <mat-list-item style="height:auto;">
        <div id="palette-heading">
          <h2 id="palette-title">Operators</h2>
          <span style="flex-grow: 1"></span>
        </div>

        <section class="palette-section">

          <div class="operation node d-flex" *ngFor="let op of operations" [ngFlowchartStep]="{
            template: op.template,
            data: op.data,
            type: op.type
          }">
            <mat-icon [ngStyle]="{ color: op.data.color }">{{
              op.data.icon
              }}</mat-icon>
            <div>{{ op.name }}</div>
          </div>
        </section>

      </mat-list-item>
    </mat-list>
  </div>

  <div class="ap-2" style="width: 70%; height: 100vh;">
    <div id="canvas" ngFlowchartCanvas [ngFlowchartOptions]="options" [ngFlowchartCallbacks]="callbacks">
    </div>
  </div>
  <div class="px-2" style="width: 15%;">
    <app-workflow-run *ngIf="workflow" [workflowId]="workflow.id"></app-workflow-run>
  </div>
</div>