<div class="p-2">
    <h1 id="page-title" class="content__title">Profile</h1>
    <div class="content__body">
        <ng-container *ngIf="user$ | async as user">
            <div class="profile__header">
                <img [src]="user.picture" alt="Profile" class="profile__avatar" />
                <div class="profile__headline">
                    <h2 class="profile__title">{{ user.name }}</h2>
                    <label>Email</label>
                    <p>{{user.email }}</p>
                    <label>Last name</label>
                    <p>{{user.family_name }}</p>
                    <label>First name</label>
                    <p>{{user.given_name }}</p>
                    <label>Roles</label>
                    <p>{{ user['http://schemas.microsoft.com/ws/2008/06/identity/claims/role']?.toString()?.replace(',', ', ')}}
                    </p>
                    <label>Email verified</label>
                    <p>{{user['email_verified']}}</p>
                </div>
            </div>
        </ng-container>
    </div>
</div>