<h1>Workflow designer</h1>

<div style="display: flex; align-items: center;">
  <div>{{workflow?.name }}</div>
  <a style="margin-left: 5px;" (click)="openDialog()"><mat-icon aria-hidden="false" fontIcon="mode_edit"></mat-icon></a>
</div>

<section class="page">
  <div class="content">
    <div id="palette">
      <div id="palette-heading">
        <h2 id="palette-title">Operations</h2>
        <span style="flex-grow: 1"></span>
      </div>

      <section class="palette-section">
        <div class="operation node" *ngFor="let op of operations" [ngFlowchartStep]="{
              template: op.template,
              data: op.data,
              type: op.type
            }">
          <mat-icon [ngStyle]="{ color: op.data.color }">{{
            op.data.icon
            }}</mat-icon>
          <h4>{{ op.name }}</h4>
        </div>
      </section>
      <section class="palette-section">
        <div class="sub-section">
          <label for="step-gap-select" class="wide">Step Gap</label>
          <select name="step-gap-select" id="step-gap-select" class="wide" (change)="onGapChanged($event)">
            <option value="30">30</option>
            <option value="40" selected>40</option>
            <option value="60">60</option>
          </select>
        </div>
        <div class="sub-section">
          <label for="sequential">Sequential</label>
          <input type="checkbox" name="sequential" (change)="onSequentialChange($event)" />
        </div>
      </section>
    </div>
    <div id="canvas" ngFlowchartCanvas [ngFlowchartOptions]="options">
    </div>
  </div>
</section>