<div *ngIf="model">
    <h1>Model: {{model.name}}</h1>

    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" animationDuration="0ms">
        <mat-tab label="Details">
            <div class="p-2">
                <app-label-value label="Name" [value]="model.name"></app-label-value>
                <label>Workflow</label>
                <p><a [routerLink]="['/workflow-designer', model.workflowId]"> {{model.name}}</a></p>
                <label>File</label>
                <p><a href="javascript:void(0)" (click)="downloadFile()">{{model.fileName}}</a></p>
                <app-label-value label="Size"
                    value="{{ model.size ? (model.size/1024/1024 | number):'' }} MB ({{model.size | number}} bytes)"></app-label-value>
                <label>Size</label>
                <!-- <p>{{ model.size ? (model.size/1024/1024 | number):'' }} MB ({{model.size | number}} bytes)</p> -->
                <app-label-value label="Published" [value]="model.isPublished"></app-label-value>
                <app-label-value label="Created On" [value]="model.createdOn| date:'dd/MM/yyyy'"></app-label-value>
                <app-label-value label="Created By" [value]="model.createdBy"></app-label-value>
                <app-label-value label="Modified On" [value]="model.modifiedOn | date:'dd/MM/yyyy'"></app-label-value>
                <app-label-value label="Modified By" [value]="model.modifiedBy"></app-label-value>
            </div>
        </mat-tab>
        <mat-tab label="Metrics">
            <div class="p-2">
                <div *ngIf="modelMetrics">
                    <div *ngIf="modelMetrics.metricType === 1">
                        <app-label-value label="RSquared"
                            [value]="metrics.RSquared | number : '1.2-4'"></app-label-value>
                        <app-label-value label="MeanSquaredError"
                            [value]="metrics.MeanSquaredError | number : '1.2-4'"></app-label-value>
                        <app-label-value label="RootMeanSquaredError"
                            [value]="metrics.RootMeanSquaredError | number : '1.2-4'"></app-label-value>
                        <app-label-value label="LossFunction"
                            [value]="metrics.LossFunction | number : '1.2-4'"></app-label-value>
                    </div>
                    <div *ngIf="modelMetrics.metricType === 2">
                        <app-label-value label="Accuracy"
                            [value]="metrics.Accuracy | number : '1.2-4'"></app-label-value>
                        <app-label-value label="F1Score" [value]="metrics.F1Score | number : '1.2-4'"></app-label-value>
                        <app-label-value label="LogLossReduction"
                            [value]="metrics.LogLossReduction | number : '1.2-4'"></app-label-value>
                        <app-label-value label="LogLoss" [value]="metrics.LogLoss | number : '1.2-4'"></app-label-value>
                        <app-label-value label="NegativeRecall"
                            [value]="metrics.NegativeRecall | number : '1.2-4'"></app-label-value>
                        <app-label-value label="PositiveRecall"
                            [value]="metrics.PositiveRecall | number : '1.2-4'"></app-label-value>
                        <app-label-value label="AreaUnderPrecisionRecallCurve"
                            [value]="metrics.AreaUnderPrecisionRecallCurve | number : '1.2-4'"></app-label-value>
                        <app-label-value label="AreaUnderRocCurve"
                            [value]="metrics.AreaUnderRocCurve | number : '1.2-4'"></app-label-value>
                        <app-label-value label="Entropy" [value]="metrics.Entropy | number : '1.2-4'"></app-label-value>
                    </div>
                </div>
            </div>
        </mat-tab>

    </mat-tab-group>
</div>