<div #canvasContent class="step">
  <div class="header d-flex align-items-center">
    <div class="p-1" style="awidth: 15%;"><mat-icon [ngStyle]="{ color: data.color }">{{ data.icon }}</mat-icon></div>
    <div class="p-1" style="awidth: 50%;"><span class="step-name">{{ name }}</span></div>
    <div class="p-2 ms-auto" style="awidth: 15%;"><app-operator-status [status]="status"
        [message]="statusDetail"></app-operator-status></div>
    <!-- <div class="p-1 ms-auto">a</div> -->
    <div class="p-1" style="awidth: 20%;">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </div>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="onEdit()" *ngIf="showEdit">
      <mat-icon>edit</mat-icon>
      <span>Edit</span>
    </button>
    <button mat-menu-item (click)="onDelete()">
      <mat-icon>delete</mat-icon>
      <span>Delete</span>
    </button>
    <button *ngIf="areMetricsAvailable()" mat-menu-item (click)="visualizeMetrics()">
      <mat-icon>bar_chart_4_bars</mat-icon>
      <span>Visualize</span>
    </button>
    <button *ngIf="isPreviewAvailable()" mat-menu-item (click)="visualizePreview()">
      <mat-icon>bar_chart_4_bars</mat-icon>
      <span>Visualize</span>
    </button>
  </mat-menu>
</div>