/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Poppins", sans-serif;
}

section.page {
  height: 100%;
  width: 100%;
}

select,
input {
  padding: 0.5em;
  background: #666;
  color: white;
  font-family: inherit;
  outline: none;
  border: none;
  border-radius: 2px;
}

.step {
  background: #343434;
  padding: 1em;
  border-radius: 3px;
  z-index: 1;
  min-width: 10em;

  & .header {
    position: relative;
    display: flex;
    align-items: center;

    & :not(:last-child) {
      margin-right: 8px;
    }

    & .step-name {
      flex-grow: 1;
    }
  }
}

a.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;

  & :not(:last-child) {
    margin-right: 12px;
  }
}