<div class="row row-cols-1 row-cols-md-4">
  <div class="col mb-4">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Datasets</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s</p>
        <mat-divider></mat-divider>
      </mat-card-content>
      <mat-card-actions style="justify-content: center;">
        <button mat-raised-button routerLink="/datasets">START WORKING</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col mb-4">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Workflows</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s</p>
        <mat-divider></mat-divider>
      </mat-card-content>
      <mat-card-actions style="justify-content: center;">
        <button mat-raised-button routerLink="/workflows">START WORKING</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col mb-4">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Models</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s</p>
        <mat-divider></mat-divider>
      </mat-card-content>
      <mat-card-actions style="justify-content: center;">
        <button mat-raised-button routerLink="/models">START WORKING</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col mb-4">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Endpoints</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s</p>
        <mat-divider></mat-divider>
      </mat-card-content>
      <mat-card-actions style="justify-content: center;">
        <button mat-raised-button routerLink="/endpoints">START WORKING</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>