<h2 mat-dialog-title>
    <mat-icon [ngStyle]="{ color: data.color }">{{data.icon}}</mat-icon>
    <span>Edit {{ data.name }}</span>
</h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="formGroup">
        <div class="d-flex-column">
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Label</mat-label>
                    <mat-select formControlName="Label">
                        <mat-option>None</mat-option>    
                        <mat-option *ngFor="let datasetColumn of datasetColumns" [value]="datasetColumn">
                            {{datasetColumn}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Task</mat-label>
                    <mat-select formControlName="Task">
                        <mat-option>None</mat-option>    
                        <mat-option *ngFor="let task of tasks" [value]="task.id">
                            {{task.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>


            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Trainer</mat-label>
                    <mat-select formControlName="Trainer">
                        <mat-option>None</mat-option>    
                        <mat-option *ngFor="let trainer of trainers" [value]="trainer.id">
                            {{trainer.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-flat-button (click)="onSave()" cdkFocusInitial color="primary">
        Save
    </button>
</mat-dialog-actions>